.synchrobot {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-image: url(/images/synchrobot.jpg);
  background-position: center;
  background-size: 600px 600px;
  background-repeat: no-repeat;
}

