.synchrobot {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-image: url(/images/synchrobot.jpg);
  background-position: center;
  background-size: 600px 600px;
  background-repeat: no-repeat;
}

.title {
  font-size: calc(20px + 2vmin);
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sliderItem {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.sliderInnerItem {
  display: flex;
}

.slider {
  padding: 50px;
}
